/* Estilos generales */
@import url('https://fonts.googleapis.com/css?family=Josefin Sans');

*{
    box-sizing: border-box;
}

h2{
    font-family: 'Josefin Sans', sans-serif;
    font-size: 2em;
    font-weight: 400;
    color: #333;

}

body {
    font-family: Arial, sans-serif;
    margin:0;
}
  
/* Encabezado */
header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: min(fit-content, 11vh); /*la altura no debe cambiarse */
    background-color: #ffff;
    z-index: 1;
}

nav {
    justify-content: space-between;
    align-items: center;
    padding: 3vw;
  }

.nav-icons{
    display: flex;
    align-items: center;
    width:100%;
    justify-content: space-between;
}

/* Imágenes responsive */

.logo-block{
    display: flex;
    flex-direction: column;
}
.location{
    font-size: medium;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 1vw;
}

.logo{
    max-width: 60vw;
    height: auto;
}

.favouritesnprofile{
    display: flex;
    justify-content: right;

}
.favourites{
    width: 15vw;
    height: auto;
}


.profile{
    margin-top:10%;
    width: 11.5vw;
    height: auto;

}

.ad{
    margin-top: 2vh;
    margin-bottom: 2vh;
}

.ad img{
    width: 80vw;
    height: auto;
    
}

.ad a{
    color: #000;
    text-decoration: none;

}

/* Contenido principal */
main {
    padding-top: 12vh; /* Espacio para el encabezado */
    padding-bottom: 12vh; /* Espacio para el pie de página */
}

/* Pie de página */
footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: fit-content;
    background-color: #fff;
    z-index: 1;
}

footer nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 1vh;
    height: fit-content;
}

footer nav a {
    margin: 0 10px;
}

footer nav a img {
    width: 15vw;
}